.row.white{style: "background-color: #2e2e2e"}
	.col-md-1
	.col-md-10
		%h3{style: "color: whitesmoke"} Admin Dashboard
		%br
		.row
			.col-md-12.well{style: "background-color: #2e2e2e"}
				- if @seminars.count > 0
					%h3 Proposals
					= render 'seminars/index'
			.col-md-3
				.well{style: "background-color: #2e2e2e"}
					%h3 TShirt Information
					= render 'tshirt_information'
			.col-md-3
				.well{style: "background-color: #2e2e2e"}
					%h3 Meal Information
					= render 'meal_information'
			.col-md-3
				.well{style: "background-color: #2e2e2e"}
					%h3 Registration Overview
					= render 'registration_information'
			.col-md-3
				.well{style: "background-color: #2e2e2e"}
					%h3 Downloads
					.btn.btn-primary= link_to 'Proposals CSV', proposals_csv_path(format: :csv), style: "color: white"
					%h3 Proposals Stats
					= render 'proposal_stats'





