- if user_signed_in? and current_user.role == "admin"
	%table.table
		%thead
			%th Meal Type
			%th Count
		%tr
			%td No Restriction
			%td= @no_restriction_count
		%tr
			%td Gluten Free
			%td= @gluten_free_count
		%tr
			%td Hindu Meal
			%td= @hindu_meal_count
		%tr
			%td Kosher Meal
			%td= @kosher_count
		%tr
			%td Lactose Intolerance
			%td= @lactose_intolerance_count
		%tr
			%td Muslim Meal
			%td= @muslim_meal_count
		%tr
			%td Vegan
			%td= @vegan_count
		%tr
			%td Vegetarian
			%td= @vegetarian_count
