%table.table
	%thead
		%th{:colspan => "2"} Speaker Information	
	%tr
		%td Name
		%td 
			= current_user.first_name
			= current_user.family_name
	%tr
		%td Registered Email
		%td= current_user.email

	%tr
		%td Project
		%td= current_user.project

	%tr
		%td Webpage
		%td= current_user.webpage

	%tr
		%td Bio
		%td= current_user.bio

%table.table
	%thead
		%th{colspan: "2", style: "color: white"} Logistical Information
	%tr
		%td Shirt Size
		%td= current_user.shirt_size
	%tr
		%td Meal Restrictions
		%td= current_user.meal_restriction 
	%tr
		%td Sponsorship Required
		%td= current_user.sponsoring_needed
	%tr 
		%td Sponsorship Amount
		%td= current_user.sponsorship_amount

.btn.btn-lg.btn-success= link_to "Edit Profile", "/users/edit", {style: "color: white"}
