= form_for(@session) do |f|
  - if @session.errors.any?
    #error_explanation
      %h2
        = pluralize(@session.errors.count, "error")
        prohibited this session from being saved:
      %ul
        - @session.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :user_id
    %br/
    = f.text_field :user_id
  .field
    = f.label :headline
    %br/
    = f.text_field :headline
  .field
    = f.label :subline
    %br/
    = f.text_field :subline
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .field
    = f.label :duration
    %br/
    = f.text_field :duration
  .field
    = f.label :slot
    %br/
    = f.text_field :slot
  .field
    = f.label :confirmed
    %br/
    = f.text_field :confirmed
  .field
    = f.label :class
    %br/
    = f.text_field :class
  .field
    = f.label :accepted
    %br/
    = f.text_field :accepted
  .field
    = f.label :confirmed
    %br/
    = f.text_field :confirmed
  .field
    = f.label :track
    %br/
    = f.text_field :track
  .field
    = f.label :date
    %br/
    = f.text_field :date
  .actions
    = f.submit