.row{style: "background-color: #2e2e2e"}
  .col-md-4
  .col-md-4
    %h3 Edit Profile
    %br

    = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.text_field :first_name
      = f.text_field :family_name
      = f.email_field :email, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      = f.text_field :webpage
      = f.text_field :project
      = f.text_field :bio, help: "Up to 500 characters"

      = f.select :meal_restriction, [["No Restriction"], ["Hindu Meal", "Hindu Meal"], ["Muslim Meal", "Muslim Meal"], ["No Fish", "No Fish"]]
      = f.select :shirt_size, [["No size provided"], ["S", "S"], ["M", "M"], ["L", "L"]]
      = f.text_field :length_of_stay, help: "No. of days you intend to stay, e.g. 5"

      = f.form_group :sponsoring_needed, label: { text: "Sponsoring Needed" }, help: "Do you require sponsorship to attend this event?" do
        = f.radio_button :sponsoring_needed, 0, label: "Yes"
        = f.radio_button :sponsoring_needed, 1, label: "No", checked: true

      = f.select :sponsoring_needed, [["No", "No"], ["Yes", "Yes"]]
      = f.text_field :sponsorship_amount, help: "Please convert this to USD"
      = f.text_field :arrival_date
      = f.text_field :arrival_time
      = f.text_field :arrival_flight_number

      = f.password_field :password, autocomplete: "off", help: "Leave blank if you don't want to change it"
      = f.password_field :password_confirmation, autocomplete: "off"
      = f.password_field :current_password, autocomplete: "off", help: "We need your current password to confirm your changes"
      = f.submit "Update"

      %br
      %br

:javascript
  $('.required').next().css('border', 'solid 2px #aa0019');