%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true

  .field
    = f.label :family_name
    %br/
    = f.text_field :family_name

  .field
    = f.label :project
    %br/
    = f.text_field :project

  .field
    = f.label :webpage
    %br/
    = f.text_field :webpage

  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true

  .field
    = f.label :password
    - if @validatable
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"

  .field
    = f.label :bio
    %br/
    = f.text_field :bio

  .field
    = f.label :meal_restriction
    %br/
    = f.text_field :meal_restriction

  .field
    = f.label :shirt_size
    %br/
    = f.text_field :shirt_size

  .field
    = f.label :length_of_stay
    %br/
    = f.text_field :length_of_stay

  .field
    = f.label :sponsoring_needed
    %br/
    = f.text_field :sponsoring_needed

  .field
    = f.label :arrival_date
    %br/
    = f.text_field :arrival_date

  .field
    = f.label :arrival_time
    %br/
    = f.text_field :arrival_time

  .field
    = f.label :arrival_flight_number
    %br/
    = f.text_field :arrival_flight_number

  .actions
    = f.submit "Sign up"

= render "devise/shared/links"