.col-md-12
  %h1 Sign up with Fossography
  %br


  = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .col-md-4
      = f.text_field :first_name, autofocus: true
      = f.text_field :family_name
      = f.email_field :email
      = f.text_field :webpage
      = f.text_field :project
      = f.text_field :bio
    .col-md-4
      = f.text_field :meal_restriction
      = f.text_field :shirt_size
      = f.text_field :length_of_stay
      = f.text_field :sponsoring_needed
      = f.text_field :arrival_date
      = f.text_field :arrival_time
      = f.text_field :arrival_flight_number
    .col-md-4
      = f.password_field :password, autocomplete: "off", help: "#{@minimum_password_length} characters minimum"
      = f.password_field :password_confirmation, autocomplete: "off"
      = f.submit "Sign up"

      %br
      %br

      = render "devise/shared/links"