.row{style: "background-color: #2e2e2e"}
  .col-sm-1.col-md-4
  .col-xs-12.col-sm-10.col-md-4
    %h3 Sign up with Fossography!
    %br

    = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true}) do |f|
      .row
        .col-xs-12{style: "color: #737373"}
          Note: Not all attendees have to register, but if you let us know, it helps us calculate better.
          %br
          %br
      .row
        .col-xs-6
          = f.text_field :first_name, autofocus: true
        .col-xs-6
          = f.text_field :family_name
      .row
        .col-xs-12
          = f.email_field :email
      .row
        .col-xs-12
          = f.url_field :webpage, value: "http://"
        .col-xs-12
          = f.text_field :project
      .row
        .col-xs-12
          = f.text_area :bio, help: "Up to 500 characters", style: "height: 100px;"
        .col-xs-12.white
          = f.file_field :avatar
        .col-xs-12{style: "color: #737373"}
          Allowed formats are .jpg and .png, with a max dimension of 100x100px.
          %br
          %br
          = f.hidden_field :avatar_cache
      .row
        .col-xs-4
          = f.select :meal_restriction, [["No Restriction"], ["Gluten Free", "Gluten Free"], ["Hindu Meal", "Hindu Meal"], ["Kosher", "Kosher"], ["Lactose Intolerance", "Lactose Intolerance"], ["Muslim Meal", "Muslim Meal"], ["Vean", "Vean"], ["Vegetarian", "Vegetarian"]]
        .col-xs-4
          = f.select :shirt_size, [["No size chosen"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL", "XL"], ["XXL", "XXL"], ["2XXL", "2XXL"]]
        .col-xs-4
          = f.number_field :length_of_stay, append: "days"
      .row
        .col-xs-8
          = f.form_group :sponsoring_needed, label: { text: "Sponsoring Needed?" }, help: "Note: Only speakers and attendees from projects who attend an meeting or hackfest are eligible for sponsorship." do
            .row
              .col-xs-2
                = f.radio_button :sponsoring_needed, "Yes", label: "Yes", id: "sponsoring-needed"
              .col-xs-2
                = f.radio_button :sponsoring_needed, "No", label: "No", checked: true
        .col-xs-4#sponsoring-amount
          = f.text_field :sponsorship_amount, label: "Amount in USD", prepend: "USD"
      .row
        .col-xs-4
          = f.text_field :arrival_date, class: "datepicker"
        .col-xs-4
          = f.text_field :arrival_time, class: "timepicker"
        .col-xs-4
          = f.text_field :arrival_flight_number, label: "Arrival flight"
      .row
        .col-xs-6
          = f.password_field :password, autocomplete: "off", help: "8 characters minimum"
        .col-xs-6
          = f.password_field :password_confirmation, autocomplete: "off"
      .row
        .col-xs-12.white
          = f.submit "Sign up"
          %br
          %br
          You will be sent a confirmation link to the email you specify when you sign up.

      %br
      %br


:coffeescript
  $('.required').next().css('border', 'solid 2px #aa0019');
  $('.datepicker').pickadate()
  $('.timepicker').pickatime()
  $('#sponsoring-amount').hide()
  $('input[type=radio]').click ->
    $('#sponsoring-amount').toggle($('#sponsoring-needed').is(':checked'))

