%br
.row
  .col-md-7.col-xs-1.col-sm-1
  .col-md-3.well.col-xs-10.col-sm-10{style: "background-color: #2e2e2e"}
    %h1.white Sign in to Fossography

    %br

    = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.email_field :email, autofocus: true
      = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
      = f.submit "Log in"
    %br

    %br
    = render "devise/shared/links"

