.row
  .col-md-6.media-object
  .col-md-3.well
    %h1 Sign in to Fossography

    %br

    = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.email_field :email, autofocus: true
      = f.password_field :password, autocomplete: "off"
      %br
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
      = f.submit "Log in"
    %br

    = link_to "View submitted session proposals", "/seminars"

    %br
    = link_to "Register to attend", "#"
    %br
    = render "devise/shared/links"
