.row.white{style: "background-color: #2e2e2e"}
	.col-md-1
	.col-md-10
		%h3{style: "color: whitesmoke"} Fossography Registrations
		%br
		.row
			.col-md-12.well{style: "background-color: #2e2e2e"}
				.btn.btn-primary= link_to 'Registrations CSV', users_csv_path(format: :csv), style: "color: white"
				%table.table
					%thead
						%th Index
						%th Name
						%th Email
						%th Webpage
						%th Project
						%th Length of Stay
						%th Sponsoring Amount
						%th Arrival Date
						%th Arrival Time
						%th Flight
						%th Permission
					%tbody
						- index = 1
						- @users.each do |user|
							%tr
								%td= index
								%td
									= user.first_name
									= user.family_name
								%td= user.email
								%td
									- unless user.webpage == "http://"
										= user.webpage
								%td= user.project
								%td
									- unless user.length_of_stay == ""
										= user.length_of_stay
										days
								%td
									- if user.sponsoring_needed == "Yes"
										USD
										= user.sponsorship_amount
								%td= user.arrival_date
								%td= user.arrival_time
								%td= user.arrival_flight_number
								%td
									- if user.role == "admin"
										.btn.btn-danger= link_to "Remove Admin", "/remove_admin/#{user.id}", method: :post, style: "color: white"
									- else
										.btn.btn-success= link_to "Make Admin", "/make_admin/#{user.id}", method: :post, style: "color: white"
							- index = index + 1
							
