= bootstrap_form_for(@seminar) do |f|
  - if @seminar.errors.any?
    #error_explanation
      %h2
        = pluralize(@seminar.errors.count, "error")
        prohibited this seminar from being saved:
      %ul
        - @seminar.errors.full_messages.each do |message|
          %li= message


  = f.select :category, [["Talk", "Talk"], ["Workshop", "Workshop"], ["Presentation", "Presentation"], ["Demonstration", "Demonstration"], ["Hackfest", "Hackfest"]], required: "true"
  = f.text_field :headline, required: "true", help: "Give your proposal a catchy title." 
  = f.text_field :subline
  = f.text_area :description, required: "true", help: "Explain in detail about what you're proposing."
  = f.text_field :duration, help: "How long is your session estimated to be?"

  - if current_user.role == "admin"

    = f.text_field :slot
    = f.text_field :confirmed
    = f.text_field :accepted
    = f.text_field :confirmed
    = f.text_field :track
    = f.text_field :date

  .actions
    = f.submit