<%= form_for(@seminar) do |f| %>
  <% if @seminar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seminar.errors.count, "error") %> prohibited this seminar from being saved:</h2>

      <ul>
      <% @seminar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :headline %><br>
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :subline %><br>
    <%= f.text_field :subline %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :slot %><br>
    <%= f.text_field :slot %>
  </div>
  <div class="field">
    <%= f.label :confirmed %><br>
    <%= f.text_field :confirmed %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br>
    <%= f.text_field :accepted %>
  </div>
  <div class="field">
    <%= f.label :confirmed %><br>
    <%= f.text_field :confirmed %>
  </div>
  <div class="field">
    <%= f.label :track %><br>
    <%= f.text_field :track %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
