= bootstrap_form_for(@seminar) do |f|
  - if @seminar.errors.any?
    .alert.alert-danger{style: "color: black"}
      You have errors, please fix them and submit again.
  .row
    .col-md-4
      = f.select :category, [["No category chosen"], ["Talk", "Talk"], ["Workshop", "Workshop"], ["Presentation", "Presentation"], ["Demonstration", "Demonstration"], ["Hackfest", "Hackfest"]]
    .col-md-4
      = f.number_field :duration, value: "45", append: "minutes", min: 20, max: 200

  .row
    .col-md-8
      = f.text_field :headline, placeholder: "Interesting proposal headline"
      = f.text_field :subline
    .col-md-12
      = f.text_area :description, help: "Explain in detail about what you're proposing - up to 1000 characters", style: "height: 300px"

  - if current_user.role == "admin"
    .row
      .col-xs-4
        = f.form_group :accepted, label: { text: "Accepted" } do
          .row
            .col-xs-3
              = f.radio_button :accepted, "Yes", label: "Yes", id: "accepted-session"
            .col-xs-3
              = f.radio_button :accepted, "No", label: "No"
      #confirmed-session
        .col-xs-4
          = f.form_group :confirmed, label: { text: "Confirmed" } do
            .row
              .col-xs-3
                = f.radio_button :confirmed, "Yes", label: "Yes"
              .col-xs-3
                = f.radio_button :confirmed, "No", label: "No"
        .col-xs-4
          = f.select :track, [["No Track Selected", "No Track Selected"], ["Design", "Design"], ["Fedora", "Fedora"]]
        .row
          .col-xs-4
            = f.text_field :date, class: "datepicker"
            = f.text_field :slot, class: "timepicker"
  .row
    .actions.col-md-12
      = f.submit "Submit"
    %br

:coffeescript
  $('.required').next().css('border', 'solid 2px #aa0019');
  $('.datepicker').pickadate()
  $('.timepicker').pickatime()
  $('#confirmed-session').toggle($('#accepted-session').is(':checked'))
  $('input[type=radio]').click ->
    $('#confirmed-session').toggle($('#accepted-session').is(':checked'))
