= bootstrap_form_for(@seminar) do |f|
  - if @seminar.errors.any?
    .alert.alert-danger
      You have errors, please fix them and submit again.


  .row
    .col-md-6
      = f.select :category, [["Select Category"], ["Talk", "Talk"], ["Workshop", "Workshop"], ["Presentation", "Presentation"], ["Demonstration", "Demonstration"], ["Hackfest", "Hackfest"]]
    .col-md-6
      = f.text_field :duration, help: "How long is your session estimated to be in minutes? e.g. 30"

  .row
    .col-md-12
      = f.text_field :headline, help: "Give your proposal a catchy title." 
      = f.text_field :subline
      = f.text_area :description, help: "Explain in detail about what you're proposing - up to 1000 characters", style: "height: 300px"

  - if current_user.role == "admin"
    = f.text_field :slot
    = f.select :confirmed, [["No", "No"], ["Yes", "Yes"]]
    = f.select :accepted, [["No", "No"], ["Yes", "Yes"]]
    = f.select :track, [["No Track Selected", "No Track Selected"], ["Design", "Design"], ["Fedora", "Fedora"]]

    = f.text_field :date

  .actions
    = f.submit "Submit"

  %br

:javascript
  $('.required').next().css('border', 'solid 2px #aa0019');