%table.table
  %thead
    %tr
      %th Link 
      %th Speaker
      %th Category
      %th Headline
      %th Duration
      - if user_signed_in? and current_user.role == "admin"
        %th Slot
        %th Confirmed
        %th Accepted
        %th Track
        %th Date

  %tbody
    - @seminars.each do |seminar|
      %tr
        %td= link_to 'Edit', edit_seminar_path(seminar.id)
        %td
          = seminar.user.first_name
          = seminar.user.family_name
        %td= seminar.category
        %td= seminar.headline                       
        %td
          = seminar.duration 
          min
        - if user_signed_in? and current_user.role == "admin"
          %td= seminar.slot
          %td= seminar.confirmed
          %td= seminar.accepted
          %td= seminar.track
          %td= seminar.date
