.col-md-12
  %h3 Submitted Proposals

  %br

  %table.table.table-striped
    %thead
      %tr
        %th{:colspan => "3"}
        %th Category
        %th User
        %th Headline
        %th Subline
        %th Description
        %th Duration
        - if user_signed_in? and current_user.role == "admin"
          %th Slot
          %th Confirmed
          %th Accepted
          %th Confirmed
          %th Track
          %th Date

    %tbody
      - @seminars.each do |seminar|
        %tr
          -if user_signed_in? and current_user.id == seminar.user_id
            %td= link_to 'Edit', edit_seminar_path(seminar)
            %td= link_to 'Withdraw', seminar, method: :delete, data: { confirm: 'Are you sure?' }
          - else
            %td
            %td
          %td= link_to 'Expand', seminar
          %td= seminar.category
          %td
            = seminar.user.first_name
            = seminar.user.family_name
          %td= seminar.headline
          %td= seminar.subline
          %td= seminar.description
          %td= seminar.duration
          - if user_signed_in? and current_user.role == "admin"
            %td= seminar.slot
            %td= seminar.confirmed
            %td= seminar.accepted
            %td= seminar.confirmed
            %td= seminar.track
            %td= seminar.date
