%div{style: "background-color: #2e2e2e"}
  .row
    .col-md-2
    .col-md-1
      %br
      - unless @seminar.category == "Select Category"
        .btn.btn-sm.btn-primary
          = @seminar.category
  .row 
    .col-md-2
    .col-md-7
      %h3= @seminar.headline
      %p= @seminar.subline


      by:
      %strong
        = @seminar.user.first_name
        = @seminar.user.family_name
      %br
      %br

      Duration: 
      = @seminar.duration
      minutes 

      %br
      %br

  .row
    .col-md-2
    .col-md-8
      %strong Description:
      %br
      = @seminar.description

      %br
      %br

      - if user_signed_in? and current_user.role == "admin"
        %p
          %strong Slot:
          = @seminar.slot
        %p
          %strong Confirmed:
          = @seminar.confirmed

        %p
          %strong Accepted:
          = @seminar.accepted
        %p
          %strong Track:
          = @seminar.track
        %p
          %strong Date:
          = @seminar.date

      %br

      = link_to "< Back", dashboard_path

      - if user_signed_in? and ((current_user.id == @seminar.user_id) or current_user.role == "admin")
        %br
        %br
        = link_to 'Edit Proposal', edit_seminar_path(@seminar)
        %br
        = link_to 'Withdraw Proposal', @seminar, method: :delete, data: { confirm: 'Are you sure?' }

  %br
  %br

