<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @seminar.user %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @seminar.headline %>
</p>

<p>
  <strong>Subline:</strong>
  <%= @seminar.subline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @seminar.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @seminar.duration %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @seminar.slot %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @seminar.confirmed %>
</p>

<p>
  <strong>Category:</strong>
  <%= @seminar.category %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @seminar.accepted %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @seminar.confirmed %>
</p>

<p>
  <strong>Track:</strong>
  <%= @seminar.track %>
</p>

<p>
  <strong>Date:</strong>
  <%= @seminar.date %>
</p>

<%= link_to 'Edit', edit_seminar_path(@seminar) %> |
<%= link_to 'Back', seminars_path %>
